@import url('https://fonts.googleapis.com/css?family=Open+Sans');


* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  background-color: honeydew;

  /*transition: background-color 0.8s linear; *//* makes background color change shift-in slowly */

  /* strentches "invisible" space of html all the way down the page, and margins and padding to 0 for
  background image to fill up */
  margin: 0;
  padding: 0;
}

body {
  /* strentches "invisible" space of html all the way down the page, and margins and padding to 0 for
  background image to fill up */
  margin: 0;
  padding: 0;
}

#canvas {
  background-size: cover;
  background-image: url("maxresdefault.jpg");
  height: 100vh; /* 100% VIEW PORT height, covering entire page regardless of size */
  padding-top: 50px;
  padding-left: 50px;
}

#title {
  font-size: 3.5rem;
  color: honeydew;
}

#calc-box {
  /* centering boxes use margin auto:
  margin-left: auto;
  margin-right: auto;
  */
  /* or using Flex
  display: flex;
  align-items: center;
  justify-content: center; */
  /* or position absolute, left: 50%, - half of box width on margin-left */
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px; /* should be 0.5x of width of box */
  margin-top: -100px; /* should be 0.5x of width of box */
  width: 300px;
  height: 100px;
  text-align: center;
  font-size: 5em;
  background-color: honeydew;
  border-radius: 5px;

}

/* output "box" is 68px in height, to center check parentBox - outputHeight / 2 to evenly space them */
#calc-box #output {
  /* the next two make the whole output centered */
  display: inline-block;
  text-align: center;
  margin-top: 16px; /* 100px (parent box height) - 68px (output box height) / 2 = 16px.
                       can also highlight text and check the highlighted block vs parent block */

}

.text-area {
  width: auto;
  height: 700px;
  border: 5px solid;
}

.text-area #analysis {
  font-size: 3rem;
  margin-left: 50px;
  margin-top: 20px;
}
